@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

:root {
  --color1: #1c6758;
  --color2: #3d8361;
  --color3: #d6cda4;
  --color4: #eef2e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  color: rgb(45, 45, 45);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: 0.5rem 0;
}

.btn {
  display: inline-block;
  border: 1px solid var(--color3);
  border-radius: 4px;
  background-color: var(--color3);
  color: var(--color1);
  padding: 0.4rem 1rem;
  text-align: center;
  transition: 1s;
  margin-top: 1rem;
}

.btn:hover {
  border: 1px solid var(--color2);
  border-radius: 9px;
}

/*navbar*/

#main-nav {
  background-color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 3;
}

#main-nav .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 4rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#main-nav .logo {
  transform: scale(1.47);
  width: 85px;
  border: 3px solid var(--color2);
  clip-path: polygon(0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%);
}

#main-nav ul {
  display: flex;
  justify-content: center;
  column-gap: 4rem;
}

#main-nav ul li a.active {
  transition: 0.5s;
  padding: 25px;
  margin-left: -4rem;
  color: var(--color3);
  border: 1px solid var(--color2);
  border-top-left-radius: 10px;
}

#main-nav ul li a.active:hover {
  border: 1px solid var(--color2);
  border-top-left-radius: 20px;
  padding: 20px;
  box-shadow: rgb(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgb(255, 255, 255, 0.25) 0px 30px 60px -30px,
    rgb(255, 255, 255, 0.25) 0px -2px 6px 0px inset;
}

#main-nav ul li a {
  border-bottom: 1px solid var(--color2);
  padding-bottom: 10px;
  transition: 0.5s;
  color: var(--color3);
}

#main-nav ul li a:hover {
  border-bottom: 1px solid var(--color2);
  border-radius: 10px;
  color: var(--color4);
  transform: scale(1.5);
  padding: 10px;

  box-shadow: rgb(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgb(255, 255, 255, 0.25) 0px 30px 60px -30px,
    rgb(255, 255, 255, 0.25) 0px -2px 6px 0px inset;
}

.signİn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border: 2px solid var(--color2);
  margin-left: 5rem;
  padding: 10px;
  width: 12rem;
  color: var(--color4);
  clip-path: polygon(0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%);
  transition: 0.5s;
}

.signİn a {
  color: var(--color4);
}

.signİn:hover {
  box-shadow: rgb(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgb(255, 255, 255, 0.25) 0px 30px 60px -30px,
    rgb(255, 255, 255, 0.25) 0px -2px 6px 0px inset;
  border-radius: 3rem;
  border: 2px solid var(--color3);
  padding: 10px;
  transform: scale(1.1);
}

/* news fluid*/
.content-fluid {
  background-color: var(--color3);
  height: 2.5rem;

}


.news-fluid {

  position: absolute;
  right: -10rem;
  height: 2.8rem;
  width: 0;
  padding-top: 1px;
  overflow-x: hidden;
  
}





.news-fluid span::before {
  position: relative;
  display: inline-flex;
  content: "\2042";
  margin-right: 10px;
  margin-left: 10px;
  color: #3d8361;

}









/*latest news*/

#main-articles .articles-container {
  display: grid;
  grid-template-columns: 60rem auto auto;

  column-gap: 2rem;
}

#main-articles .articles-container2 {
  display: grid;
  grid-template-columns: repeat(3, auto);

  column-gap: 2rem;
}

#main-articles .container {
  margin: 2rem;
}

/*videos*/
#news-videos {
  margin: 2rem;
}

.links ul {
  line-height: 4rem;
  text-decoration: underline;
}

.links ul li {
  background-color: var(--color4);
  transition: 0.4s;
  padding-left: 15px;
}

.links ul li:hover {
  background-color: var(--color3);
}

.loading-video {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: var(--color3);
}

.loading-video p {
  margin: 1rem 5rem 10rem;
  padding-top: 2rem;
  text-align: left;
  align-self: center;
  width: 100%;
  border-top: 1px solid var(--color1);
  
}

/*minvideo*/

.minvideo3,
.minvideo2,
.minvideo1 {
  transform: translate(1rem, -60px);
  position: absolute;
  left: 50rem;
  transition: 1s;
  opacity: 0;
}

.link-video1:hover .minvideo1 {
  opacity: 1;
  transform: translate3d(100px, -60px, 50px);
}

.link-video2:hover .minvideo2 {
  opacity: 1;
  transform: translate3d(100px, -60px, 50px);
}

.link-video3:hover .minvideo3 {
  opacity: 1;
  transform: translate3d(100px, -60px, 50px);
}

/* header */
/*science-art*/
#header {
  padding: 2rem;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 2rem;
  column-gap: 2rem;
}

#header .header-container p::first-letter {
  font-size: 150%;
  color: black;
  margin-left: 3rem;
}

.news-title {
  display: inline-block;
  background-color: var(--color3);
  border-bottom-right-radius: 10px;
  border-left: 15px solid var(--color1);
  font-size: 2rem;
  padding: 0 2rem;
}

#header .header-container .left-news .right-news .right-news2 .left-news2 {
  width: 100%;
  text-align: justify;
}

/*footer */

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  height: 20vh;
  background-color: var(--color1);
  /* background-image: linear-gradient(to left ,#1c6758,#d6cda4,#1c6758); */
  border: 1px solid var(--color4);
}

.social-media {
  display: flex;
  justify-content: center;

  gap: 4rem;
  font-size: 3rem;
}

footer p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color4);
}

.social-media a {
  color: var(--color3);
}

.links-footer {
  display: inline-flex;

  margin-left: 5rem;
}

.links-footer a {
  color: var(--color3);
}

.links-footer ul {
  display: inline-flex;
  gap: 4rem;
  margin-left: 5rem;
}

@keyframes rotate {
  0%{
    transform : rotate(0deg);
  }

  
  50%{
    color: var(--color3);
    transform : rotate(360deg);
  
   
  }

  100%{
    color: var(--color3);
    transform : rotate(-360deg);
  
   
  }
}

@keyframes negrotate {
  0%{
    transform : rotate(0deg);
  }

  
  50%{
    color: var(--color3);
    transform : rotate(360deg);
  
   
  }

  100%{
    color: var(--color3);
    transform : rotate(-360deg);
  
   
  }
}